/* body font */


.text {
    font-family: 'Lora', 'Times New Roman', serif;
}


/* quote */

.style{
    color: beige
}

/* coffee shop content */
.container {
    width: 100%;
    height: 56.222vw; /* Just keeping your original style */
    background-size: contain; /* Just keeping your original style */
    position: relative;
    max-width: 100%;
}
  
.hotspot {
    position: absolute;
    cursor: pointer;
    background-color: transparent; /* Just for visibility, you can remove this in production */
}
  
#returnButton {
    display: none;
}


/* END of coffee shop content here */

/*pull out quotes */

.pquote {
    float: right;
    text-align: center;
    font-family: 'sans serif';
    width: 200px;
    height: 25px; /* Adjusted to allow the element to expand to fit its content */
    font-size: 20px; /* Slightly reduced font size for better readability */
    color: crimson;
    font-weight: bold;
    padding: 50px; /* Reduced padding for better spacing */
    margin: -20px 15px -15px 0px; /* Adjusted margin for better spacing */
}

blockquote {
    margin: 0; /* gets rid of the default blockquote margin */
}

.author {
float: right; 
text-align: center;
font-family: 'Sans Serif';
width: 200px;
height: 25px;
font-size: 15px;
color: rgb(0, 0, 0);
font-weight: bold;
padding: 50px;
margin: -15px 15px 20px 0px;
    } 


blockquote {
    margin: 15; /* gets rid of the default blockquote margin */
}

.pquotethree {
    float: left; /* Remove this */
    text-align: center;
    font-family: 'Sans Serif';
    width: 200px;
    height: 25px;
    font-size: 20px;
    color: crimson;
    font-weight: bold;
    padding: 50px;
    margin: -20px 15px -15px 0px;
}

blockquote {
    margin: 0; /* gets rid of the default blockquote margin */
}


.authortwo {
    float: left; 
    text-align: center;
    font-family: 'Sans Serif';
    width: 200px;
    height: 25px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 50px;
    margin: -15px 15px 20px 0px;
    } 

/* Banner */
.banner{
    position: relative;
    width: 100%;
    max-width: 100vw;
    height: auto;
}

/* Slideshow */

.slideshow-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    height: 1200px;
}

.mySlides {
    display: none;
    width: 100%;
    z-index: 1; /* I removed position: absolute to keep normal document flow */
}

img {width: 100%;
}

.headline{ /* make sure the headline is on top of slideshow-container */
    font-family: 'DM Sans', sans-serif;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: #e33d30;
    font-size: 150px;
    z-index: 2;
    text-transform: uppercase;
}

@media (max-width: 700px) {
    .headline {
        font-size: 60px;
    }
}

/* Article */


body{ /* general font stuff */
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f5ede2;
    font-size: 15px;
    /* CSS to prevent text from moving */
    min-height: 1em; /* Set a minimum height */
}

.content { /* put a box around the article + increase margins */
    margin-top: 0px;
    width: 40%;
    margin: auto;
    background-color: #f5ede2;
    padding: 215px;
}

.content h3 {
    margin-bottom: 20px;
    font-family: 'Lora','Times New Roman', serif;
}

.image-container img {
    width: 100%;
    max-width: 300px; /* Limit the width of stacked images */
    margin-bottom: 20px;
    cursor: pointer;
}

p{ /* how the article text looks */
    text-align: justify;
    line-height: 1.6;
}


